@page
@model BlazorTrainingCGI2.Pages.modul8.jstestModel
@{
}
<h1>Razor Seitenb</h1>
<script>

    alert("Hallo Welt");
    var ret = confirm("bist du da?");
    //navigator.clipboard.writeText("halle Welt");
    //window.clipboardData.setData("Text", "Hallo Welt");
    document.title = "Tolle App";
</script>