@page
@model BlazorTrainingCGI2.Pages.modul8.jstestModel
@{
}
<h1>Razor Seitenb</h1>
<script>
    navigator.clipboard.writeText("halle Welt"); //Document muss fokus haben!
    alert("Hallo Welt");
    var ret = confirm("bist du da?");
    
    //window.clipboardData.setData("Text", "Hallo Welt");
    document.title = "Tolle App";
</script>