@page "/dbliste"
@using BlazorTrainingCGI2.models
@inject northwindContext  _db 
<h3>DBListe</h3>
@foreach (var item in _db.Customers)
{
<a href="/details/@item.CustomerId">
    @item.CompanyName
</a><br />
}

@code {
   // var ef = new northwindContext();
}
